<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout1</title>
</head>
<body>
    <div>
        <form action="/data" method="post">
            <label for="name">Name : </label>
            <input type="text" id="Name" name="Name">
            <label for="phone" label>phone : </label>
            <input type="text"  id="phone" name="phone">
            <label for="email" >email : </label>
            <input type="text" id="email" name="email">
            <label for="experience">experirnce : </label>
            <input type="text" id="experience" name="experience">
            <label for="projects">projects : </label>
            <input type="text" id="projects" name="projects">
            <label for="education" name="education">education : </label>
            <input type="text" id="education" name="education">
            <input type="submit" value="Make resume">
        </form>  
    </div>
</body>
</html>